@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Lato:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    text-align: center;
    font-family: 'Lato', sans-serif;
}

.cloud {
    width: 17vh;
    display: block;

}

.cloud1 {
    position: relative;
    left: 58vh;

}

.cloud2 {
    position: relative;
    left: 59vw;

}

.mountain {
    width: 98.5vw;
    display: block;
    margin: 0 auto 0 auto;
    float: left;
}

.container-1 {
    background-color: #B3E8E5;
    font-family: 'Cedarville Cursive', cursive;
    color: #2F8F9D;
    font-size: 25px;
}

.container-1 h1 {
    font-size: 262.5%;
}

.user-image {
    margin-top: 20px;
}

.container-1-content {
    font-family: 'Lato', sans-serif;

    font-size: 20px;
    padding: 0 0 10px 0;
}

.skill-image {
    width: 150px;
    display: block;
    float: left;
    margin-right: 30px;
}

.my-skill-1 {
    width: 50%;
    margin: 10px auto 0;
    text-align: left;
    line-height: 1.5;
}

.my-skill-2 {
    width: 50%;
    margin: 10px auto 0;
    text-align: left;
    line-height: 1.5;


}

h3 {
    color: #2F8F9D;

}

h4 {
    color: #3BACB6;
}

hr {
    height: 10px;
    border: 0;
    border-top: 8px;
    border-color: #82DBD8;
    border-style: dotted;
    width: 15%;
    margin: 0 auto;
}

.container-3 {
    width: 50%;
    margin: 0 auto;
}

.contact-me {
    color: white;
    padding: 5px;
    margin-top: 20px;
    margin-bottom: 50px;
    background-color: #2F8F9D;
    border: 0;
    border-radius: 5%;
}
.contact-me:hover
{
    background-color: #1c5862;

}

footer {
    background-color: #B3E8E5;
    padding: 20px;

}
a
{
    margin: 0 20px;
    text-decoration: none;
}